<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Movie List</title>
	<meta name="author" content="Edrick Rudy Putra">
	<script src="jquery-1.10.2.js" type="text/javascript"></script>
	<script src="underscore.js" type="text/javascript"></script>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.css" rel="stylesheet">
	<script type="text/javascript" src="model.js"></script>    
	<script type="text/javascript" src="hastur.js"></script>    
</head>

<body>


<!-- Navigation bar. common for all pages -->
<div id="wrapper" class="container">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner navbar-fixed-top">
            <div class="container">
                <a id="movies_path" class="brand" href="/">movies@pyramid3213</a>
            </div>
        </div>
    </div>
</div>
<!-- End of navigation bar --> 
<div id="indexContainer" class="container">
    <div style="padding-top:3%;">
        <div class="page-header row">
            <h1 class="span10">Hot on Pyramid3213</h1>
            <a id="new-movie" class="btn btn-primary" href="#new_movie">Add new movie</a>
        </div>
    </div>
	<div class="row">  
		<div id="list_movies">
		</div>
	</div>
	<div id="pagination" class="row-fluid">
        <a id="prevLink">&lt;&lt; Prev</a> <a id="nextLink">Next &gt;&gt;</a>
    </div>
	<div>
		<input id="image-file" type="file" />
	</div>
	<div>
		<button onclick="buttonSendMovie()">Click me</button> 
	</div>
	
</div>


    <script type="text/template" id="list-movies-template">
        <% _.each(model, function(movie) { %>
		<div class="span4">
            <h3>
				<%if (movie.obj.title.length <= 16) { %>
					<%= movie.obj.title %>
				<%} else {%>
					<%= movie.obj.title.substring(0,13) + "..." %>
				<%}%>
            </h3>
			<img src="<%= movie.obj.img_url %>">
			<p>
                avg score: 
				<%if (movie.obj.avg_score != null) { %>
					<%=Math.round(movie.obj.avg_score  * 100) / 100%>
				<%} else {%>
					0.0
				<%}%>
			</p>
		</div>
        <% }); %>
    </script>
<!-- End of index page --> 

<script type="text/javascript">
    // examples of getting models and connecting to views with bindModel and bindElement
    
    var Movie = function(){};
    Movie.prototype = new Compass.Model("http://cs3213.herokuapp.com/movies");
    
	var firstMovie = new Movie;
    firstMovie.get({
        id: "4.json",
		success: function(data) {
			console.log("SUCCCEESSSS HATEEERRRRSSSSSZZZZAAAAHHHH");
			firstMovie.set({
				'title': "Whatever duh",
				'summary': "me being a scumbag"
			});
			console.log(firstMovie.obj);
		}
    })
	
	var hendyToken = 'c2dee760d14ce04bc4e88a43a678d5d2'; // replace with your own access token
	
	var SendMovie = function(){};
	SendMovie.prototype = new Compass.Model("http://cs3213.herokuapp.com/movies");
	
	var sendMovie = new SendMovie;
	
	function buttonSendMovie() {
		sendMovie.set({
			'access_token': hendyToken,
			'movie[title]': "Edrick Test", //CHANGE TO A NEW TITLE
			'movie[summary]': "Deal with it.", //CHANGE TO A NEW SUMMARY
			'movie[img]': document.getElementById('image-file').files[0]
		});
		
		console.log(sendMovie.obj);
		
		
		sendMovie.save({
		})
	}
	
	
	
	
	
</script>

</body>
