<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Example: View, Model, Data binding</title>
	<script src="../jquery-1.10.2.js" type="text/javascript"></script>
	<script src="../underscore.js" type="text/javascript"></script>
    <script src="../watch.js" type="text/javascript"></script>
	<script src="../compass.js" type="text/javascript"></script>
</head>
<body>
    
    <script type="text/template" id="single-movie-template">
        <h3 id="movieTitle"><%= model.title %></h3>
        <h6 id="movieSummary"><%= model.summary %></h6>
        <img class="myImage" src="<%= model.img_url %>">
    </script>
    <div>
        Title: <input type="text" id="newTitle"><br>
        Summary: <input type="text" id ="newSummary"><br>
        <input type="submit" id="submitBtn" value="Update Movie">
    </div>

<script type="text/javascript">
    /*
        An example of using Model object to make API calls,
        using View object to display them and observing data change in the model
        and reflecting the change in the view.
    */
    
    var Movie = function(){};
    Movie.prototype = new Compass.Model("http://cs3213.herokuapp.com/movies");

    var SingleMovieView = function(){};
    SingleMovieView.prototype = new Compass.View({
        template: $("#single-movie-template")
    });
    
    var firstMovie = new Movie;
    var firstMovieView = new SingleMovieView;
    firstMovie.get({
        id: "4.json",
        success: function(data) {
            firstMovieView.bindModel({
                model: data,
                // use the observeData and dataChangedHandlers
                // to make the view update when an attribute changes
                observeData: {
                    "title": "titleChangedHandler",
                    "summary": "summaryChangedHandler"
                },
                dataChangedHandlers: {
                    titleChangedHandler: function() {
                        console.log(data.title);
                        $("#movieTitle").text(data.title);
                    },
                    summaryChangedHandler: function() {
                        console.log(data.summary);
                        $("#movieSummary").text(data.summary);
                    }
                }
            });
            $("body").append(firstMovieView.render());
        }
    });
    
    $("#submitBtn").click(function() {
        if ($.trim($("#newTitle").val()) != "") {
            firstMovie.obj.title = $("#newTitle").val();            
        }
        if ($.trim($("#newSummary").val()) != "") {
            firstMovie.obj.summary = $("#newSummary").val();
        }
    })
</script>
</body>
</html>
